<div *ngIf="noticia" class="frmDetalle">
	<h2>Detalles de la noticia</h2>
	<div>
		<label>Id: </label>{{noticia.id}}
	</div>
	<div class="espacio" >
		<label>Título: </label>
		<input class="style-1" [(ngModel)]="noticia.titulo" id="ctrlTitulo" />
	</div>
	<div class="espacio">
		<label>Fecha: </label>
		<input class="style-1" [(ngModel)]="noticia.fecha" id="ctrlFecha" />
	</div>
	<div class="espacio">
		<label>Cuerpo: </label>
		<textarea class="style-1" [(ngModel)]="noticia.cuerpo" id="ctrlCuerpo" ></textarea>
	</div>
	<div class="espacio">
		<label>Estado: </label>
		<select class="style-1" [(ngModel)]="noticia.estado" id="ctrlEstado">
			<option value="1">Borrador</option>
			<option value="2">Pendiente de activación</option>
			<option value="3">Activada</option>
			<option value="4">Dada de baja</option>
		</select>
	</div>
	<div class="espacio">
		<button type="button" class="style-1" (click)="guardar()">Guardar</button>
		<button type="button" (click)="patras()">P'atrás!</button>
	</div>
</div>
