<div class="container">
	<h2>Últimas noticias de {{name}}</h2>
	<nav class="lista-noticias">
		<ul>
			<li *ngFor="let noticia of noticias" (click)="onSelect(noticia)">
				<span class="lista-noticias">{{noticia.titulo}}</span>
			</li>
		</ul>
	</nav>
	
	<div class="crear-noticia">
		<label>
			Título de la noticia: 
			<input #noticiaTitulo />
		</label>
		<button (click)="crear(noticiaTitulo.value); noticiaTitulo.value=''">Crear noticia</button>
	</div>
</div>


<div *ngIf="selectedNoticia">
<h2>Noticia seleccionada: {{selectedNoticia.name | uppercase }}</h2>
	<button type="button" (click)="gotoDetalle()">Ver detalles</button>
</div>