/* ESTILOS PARA EL FORMULARIO DE DETALLE DE LA NOTICIA */
.container{
	width: 80%;
	border: 1px solid red;
	margin: 0 auto;
	font-family: sans-serif;
}
input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
input[type="text"]:focus {
  outline: none;
}
.style-1 input[type="text"] {
  padding: 10px;
    margin: 20px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}
.espacio{
    margin: 20px 0 10px 0;
}
textarea {
 height: 15em;
    width: 50em;
}