/* ESTILOS PARA EL LISTADO DE LAS NOTICIAS */
.container{
	width: 80%;
	margin: 0 auto;
	font-family: sans-serif;
}
.container h1{
	border-bottom: 1px solid #CCC;
	text-align: center;
}
.lista-noticias{
	
}
.lista-noticias ul{
	list-style-type: none;
	padding: 0; margin: 0;
}
.lista-noticias ul li{
	
}
.lista-noticias ul li:hover{
	background-color: #CCC;
}
.lista-noticias ul li a{
	text-decoration: none;
	display:block;
	min-height: 40px;
	padding:10px;
}
span{
    font-size: 2em;
}




.crear-noticia{
	margin: 20px 0;
}