.frmDetalle{
	background-color: #CCC;
	padding:20px;
}
.frmDetalle div{
	padding: 5px 0;
}
.frmDetalle label{
	display: inline-block;
	width: 120px;
	vertical-align: top;
}
.frmDetalle textarea{
	width: 250px;
	height: 120px;
}